{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
        Software
    </li>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between">
        <h2>
            Software
        </h2>
        <div>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'software:create' %}">
                <i class="fa fa-plus" aria-hidden="true"></i> Add software
            </a>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Licences</th>
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
            <tr>
                <th scope="row">
                    <a href="{% url 'software:edit' item.id %}">
                        {{ item.name }}
                    </a>
                </th>
                <td>{{ item.available_licenses }}</td>
            </tr>
        {% empty %}
            <tr class="danger">
                <td colspan="100%" class="text-center " style="padding: 25px;"> No software to list</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "pagination.html" with list=list %}
{% endblock %}
