{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'assets:list' %}">Assets</a></li>
    <li class="breadcrumb-item"><a href="{% url 'assets:list-type' asset.type.name|lower %}">{{ asset.type.name|capfirst }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'assets:edit' asset.id %}">{{ asset.name }}</a></li>
    {% if asset_network %}
        <li class="breadcrumb-item active">{{ asset_network.name }}</li>
    {% else %}
        <li class="breadcrumb-item active">New Asset Network</li>
    {% endif %}
{% endblock %}

{% block content %}

    <form method="post" action="">
        {% csrf_token %}

        <nav class="navbar navbar-light bg-light border mb-2">
            {% if asset_network %}
                <span class="navbar-brand">
                    {{ asset_network.name }}
                    <small>(Edit)</small>
                </span>
            {% else %}
                <span class="navbar-brand">
                    Create Asset Network
                </span>
            {% endif %}
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="submit" class="btn btn-primary navbar-btn">
                            {% if asset_network %}
                                <i class="fa fa-save" aria-hidden="true"></i> Save
                            {% else %}
                                <i class="fa fa-plus" aria-hidden="true"></i> Create
                            {% endif %}
                        </button>
                    </li>

                </ul>
            </div>
        </nav>

        {{ form|crispy }}
    </form>
{% endblock %}