{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'assets:list' %}">Assets</a>
    </li>
    {% if asset %}
        <li class="breadcrumb-item">
            <a href="{% url 'assets:list-type' asset.type.name|lower %}">{{ asset.type.name|capfirst }}</a>
        </li>
        <li class="breadcrumb-item active">{{ asset.name }}</li>
    {% else %}
        <li class="breadcrumb-item active">New Asset</li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if asset.omit_audit %}
        <div class="alert alert-warning" role="alert">
            <i class="fas fa-exclamation-triangle text-warning me-1"></i>
            Asset is omitted from audit and will not show up on audit reports!
        </div>
    {% endif %}
    <div>
        <form method="post" action="">
            <nav class="navbar navbar-light bg-light border mb-2 px-3">
                {% if asset %}
                    <span class="navbar-brand text-truncate col">
                        <strong>
                        {% if asset.sub_type.fa_class %}
                            <i class="fa {{ asset.sub_type.fa_class }}" aria-hidden="true"></i>&nbsp;
                        {% elif asset.type.fa_class %}
                            <i class="fa {{ asset.type.fa_class }}" aria-hidden="true"></i>&nbsp;
                        {% endif %}
                        </strong>
                        {{ asset.name }}
                    </span>
                {% else %}
                    <span class="navbar-brand">
                        Create Asset
                    </span>
                {% endif %}

                {% if not asset.decommissioned %}
                    <div>
                        {% if asset %}
                            <div class="btn-group navbar-btn d-none d-md-inline-block">
                                <button type="button" class="btn btn-light border" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#printQueueModal">
                                        <i class="fas fa-print"></i> &nbsp; Add to print queue
                                    </button>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'assets:trash' asset.id %}">
                                        <i class="fas fa-trash-alt text-danger"></i> &nbsp; Trash Asset
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary navbar-btn">
                            {% if asset %}
                                <span class="d-md-none d-sm-block">
                                    <i class="fa fa-save" aria-hidden="true"></i> Save
                                </span>
                                <span class="d-none d-md-block">
                                    <i class="fa fa-save" aria-hidden="true"></i>
                                    Save Asset
                                </span>
                            {% else %}
                                <i class="fa fa-plus" aria-hidden="true"></i> Create Asset
                            {% endif %}
                        </button>
                    </div>
                {% endif %}
            </nav>

            {% if asset.decommissioned %}
                <div class="alert alert-danger" role="alert">
                    <strong>
                        <i class="fas fa-exclamation-triangle"></i>
                        Warning!
                    </strong>
                    Asset was decommissioned
                    by {{ asset.decommissioned_by.first_name }} {{ asset.decommissioned_by.last_name }}
                    on {{ asset.decommissioned }}
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-5">
                    <div class="panel-body text-capitalize">

                        <table class="table table-borderless bg-light border">
                            <tbody>
                            <tr>
                                <th style="width: 150px;" scope="row">Asset ID:</th>
                                <td>
                                    {{ asset.id }}
                                    {% if not asset.decommissioned %}
                                        <span class="float-end">
                                        <button type="button" class="btn btn-secondary btn-sm ms-2"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editModal">
                                          Edit
                                        </button>
                                    </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 150px;" scope="row">{{ asset.type.name }} Type:</th>
                                <td>{{ asset.sub_type.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Make / Model:</th>
                                <td>{{ asset.manufacturer.name }} {{ asset.model }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Serial #:</th>
                                <td>{{ asset.serial }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Other Serial #:</th>
                                <td>{{ asset.other_serial }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Inventory ID:</th>
                                <td>{{ asset.inventory_number }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Purchased:</th>
                                <td>
                                    {{ asset.purchased }}
                                    {% if asset.purchased_price %}
                                        <small class="text-muted ms-2">(${{ asset.purchased_price }})</small>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Last Check-In:</th>
                                <td>
                                    {{ asset.last_checkin }}
                                    &nbsp;
                                    {% if asset.last_checkin_status %}
                                        <i class="fas fa-thumbs-up text-success"></i>
                                    {% else %}
                                        <i class="fas fa-thumbs-down text-danger"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        {% csrf_token %}
                        {{ form_change | crispy }}
                    </div>
                </div>

                <div class="col-md-7">
                    {% if asset %}
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" id="assetTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="asset-network" data-bs-toggle="tab" href="#network"
                                   role="tab" aria-controls="network"
                                   aria-selected="true" title="Network">
                                    <i class="fas fa-network-wired"></i> <span
                                        class="badge badge-pill badge-secondary">{{ networks|length }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="asset-connections" data-bs-toggle="tab" href="#connections"
                                   role="tab" aria-controls="Connected devices"
                                   aria-selected="false" title="Connections">
                                    <i class="fas fa-link"></i> <span
                                        class="badge badge-pill badge-secondary">{{ connections|length }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="asset-licenses" data-bs-toggle="tab" href="#licenses" role="tab"
                                   aria-controls="Licenses"
                                   aria-selected="false" title="Software licenses">
                                    <i class="fas fa-certificate"></i> <span
                                        class="badge badge-pill badge-secondary">{{ licenses|length }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="asset-notes" data-bs-toggle="tab" href="#note" role="tab"
                                   aria-controls="note" aria-selected="true"
                                   title="Notes">
                                    <i class="far fa-sticky-note"></i> <span
                                        class="badge badge-pill badge-secondary">{{ notes|length }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="asset-log" data-bs-toggle="tab" href="#log" role="tab"
                                   aria-controls="log" aria-selected="true"
                                   title="Change Log">
                                    <i class="fas fa-clipboard-list"></i>
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" id="assetTabContent">
                            <div class="tab-pane fade show active" id="network" role="tabpanel"
                                 aria-labelledby="network-tab">

                                {% if not asset.decommissioned %}
                                    <div class="my-2 clearfix text-right">
                                        <a class="btn btn-sm btn-outline-success pull-right"
                                           href="{% url 'networks:asset_network_create' asset.id %}">
                                            <i class="fa fa-plus" aria-hidden="true"></i> Attach network
                                        </a>
                                    </div>
                                {% endif %}

                                <table class="table table-striped border">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Name</th>
                                        <th>Network</th>
                                        <th>IP Address</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in networks %}
                                        <tr>
                                            <th>
                                                <a href="{% url 'networks:asset_network_edit' item.id %}">
                                                    {% if item.network_type == 'Ethernet' %}
                                                        <i class="fas fa-ethernet"></i>{% endif %}
                                                    {% if item.network_type == 'Wireless' %}
                                                        <i class="fas fa-wifi"></i>{% endif %}
                                                    {% if item.network_type == 'Alias' %}
                                                        <i class="far fa-object-group"></i>{% endif %}
                                                    {% if item.network_type == 'Fiber' %}
                                                        <i class="fas fa-network-wired"></i>{% endif %}
                                                    {{ item.name }}
                                                </a>
                                            </th>
                                            <td>{{ item.network.name }}</td>
                                            <td>{{ item.ipv4_address }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr></tr>
                                        <tr>
                                            <td colspan="100%" class="text-center p-4">
                                                <code>No networks assigned</code>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <div class="tab-pane fade" id="connections" role="tabpanel"
                                 aria-labelledby="connections-tab">

                                {% if not asset.decommissioned %}
                                    <div class="my-2 clearfix text-right">
                                        <button type="button" class="btn btn-sm btn-outline-success" disabled>
                                            <i class="fa fa-plus" aria-hidden="true"></i> New Connection
                                        </button>
                                    </div>
                                {% endif %}

                                <table class="table table-striped border">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Name</th>
                                        <th>Equipment</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in connections %}
                                        <tr>
                                            <th>
                                                <a href="{% url 'networks:asset_network_edit' item.id %}">{{ item.name }}</a>
                                            </th>
                                        </tr>
                                    {% empty %}
                                        <tr></tr>
                                        <tr>
                                            <td colspan="100%" class="text-center p-4">
                                                <code>No connections linked</code>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="licenses" role="tabpanel" aria-labelledby="licenses-tab">
                                {% if not asset.decommissioned %}
                                    <div class="my-2 clearfix text-right">
                                        <button type="button" class="btn btn-sm btn-outline-success"
                                                data-bs-toggle="modal"
                                                data-bs-target="#licenseModal">
                                            <i class="fa fa-plus" aria-hidden="true"></i> New software licenses
                                        </button>
                                    </div>
                                {% endif %}

                                <table class="table table-striped border">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Software</th>
                                        <th>Serial #</th>
                                        <th style="width: 20px;"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in licenses %}
                                        <tr>
                                            <th>
                                                {{ item.software.name }}
                                            </th>
                                            <td>{{ item.serial_number }}</td>
                                            <td>
                                                <a href="{% url 'software:asset_license_delete' asset.id item.id %}"
                                                   class="text-danger"
                                                   onclick="return confirm('Do you want to delete software license?');">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr></tr>
                                        <tr>
                                            <td colspan="100%" class="text-center p-4">
                                                <code>No software licenses</code>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="note" role="tabpanel" aria-labelledby="note-tab">
                                {% if not asset.decommissioned %}
                                    <div class="my-2 clearfix text-right">
                                        <button type="button" class="btn btn-sm btn-outline-success"
                                                data-bs-toggle="modal"
                                                data-bs-target="#noteModal">
                                            <i class="fa fa-plus" aria-hidden="true"></i> New Note
                                        </button>
                                    </div>
                                {% endif %}

                                <table class="table table-striped table-sm">
                                    <tbody>
                                    {% for item in notes %}
                                        <tr>
                                            <td>
                                                {{ item.comment }} <br>
                                                <div class="text-muted d-flex justify-content-between py-1 my-1">
                                                    <small>
                                                        {{ item.created_by.get_full_name }}
                                                    </small>
                                                    <small>
                                                        {{ item.created|date:"SHORT_DATE_FORMAT" }} {{ item.created|time }}
                                                    </small>
                                                </div>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr></tr>
                                        <tr>
                                            <td colspan="100%" class="text-center p-4">
                                                <code>No notes</code>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="log" role="tabpanel" aria-labelledby="log-tab">

                                <table class="table table-striped table-sm">
                                    <tbody>
                                    {% for item in log %}
                                        <tr>
                                            <td>{{ item.log }} <br>
                                                <div class="text-muted d-flex justify-content-between py-1 my-1">
                                                    <small>
                                                        {{ item.created_by.get_full_name }}
                                                    </small>
                                                    <small>
                                                        {{ item.created|date:"SHORT_DATE_FORMAT" }} {{ item.created|time }}
                                                    </small>
                                                </div>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr></tr>
                                        <tr>
                                            <td colspan="100%" class="text-center p-4">
                                                <code>No change logs</code>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="pt-3 d-none d-md-block">
                            <h5>Asset Label</h5>
                            <div class="panel-body border">
                                {% load qr_code %}
                                <table>
                                    <tr>
                                        <td>
                                            {% qr_from_text check_url size=2 image_format='png' %}
                                        </td>
                                        <td>
                                            <strong style="font-size: 1.6em;">{{ asset.name }}</strong>
                                            <div style="font-size: 1.2em;">Asset #: {{ asset.id }}</div>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                        <div class="pt-3 d-none d-md-block">
                            <h5>Asset QR Code</h5>
                            <div class="panel-body border">
                                <div class="px-3 pt-2">
                                    <strong>Check-in URL:</strong> {{ check_url }}
                                </div>
                                {% qr_from_text check_url size=4 image_format='png' %}
                                {% qr_from_text check_url size=3 image_format='png' %}
                                {% qr_from_text check_url size=2 image_format='png' %}
                                {% qr_from_text check_url size=1 image_format='png' %}
                            </div>
                        </div>
                        </div>
                    {% endif %}
            </div>

            <div hx-get="{% url 'assets:asset_notes' asset.id %}" hx-trigger="load">
                <img alt="Result loading..." class="htmx-indicator" width="150" src="/img/bars.svg"/>
            </div>

            <!-- Form Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Asset</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ form | crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% if asset %}
        <!-- Note Modal -->
        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="note`" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" action="{% url 'assets:note_create' asset.id %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Asset Note</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ form_note | crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Search Modal -->
        <div class="modal fade" id="licenseModal" tabindex="-1" role="dialog" aria-labelledby="license`"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" action="{% url 'software:asset_license_create' asset.id %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Asset License</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ form_license | crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Print Queue Modal -->
        <div class="modal fade" id="printQueueModal" tabindex="-1" role="dialog" aria-labelledby="print`"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Print Queue</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Added this asset to my print queue for easy label printing.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="{% url 'assets:print-queue' asset.id %}" class="btn btn-primary">Add to Queue</a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}
