{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'assets:manufacturer_list' %}">Manufacturers</a></li>
    <li class="breadcrumb-item active">New Asset</li>
{% endblock %}

{% block content %}

    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="Next">
    </form>
    
{% endblock %}