{% if list.has_other_pages %}
    <nav class="d-flex justify-content-between">
        <ul class="pagination">
            {% if list.has_previous %}
                <li class="page-link">
                    <a href="?page={{ list.previous_page_number }}"><span aria-hidden="true">&laquo;</span> Previous</a>
                </li>
            {% endif %}

            {% if list.has_next %}
                <li class="page-link">
                    <a href="?page={{ list.next_page_number }}">Next <span aria-hidden="true">&raquo;</span></a>
                </li>
            {% endif %}
        </ul>
        <div class="p-2">
            <small> Page <strong>{{ list.number }}</strong> of {{ list.paginator.num_pages }}</small>
        </div>
    </nav>
{% endif %}